.Top-pag{
    color: rgba(0, 0, 0, 0.541);
    position: relative;
    justify-content: center;
    text-align: center;
    display: block;
    flex-direction: row;
}
.pokemondie{
    font-size: clamp(1.5rem, 2vw, 3rem);
    display: flex;
    justify-content: space-between;
}
.Top-pag-types{
    font-size: clamp(.9rem, 1vw, 2rem);
}

.Top-pag-types{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2vh;
}

.Down-pag{
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    overflow: hidden; /* Garante que os filhos que ultrapassarem o border-radius sejam escondidos */
}

.Down-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 15px;
    background-color: white;
}

.name-japones {
    font-size: 9vw; 
    width: 100%;
    position: absolute;
    color: rgba(0, 0, 0, 0.589);
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.poke-img {
    max-width: 100%;
    width: 100px;
    height: auto;
}
