@media screen and (max-width: 400px){
    .pokemon{
        max-width: 20rem;
    }
    .listPokemons{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 997px) {
    .pokemon .detail img{
        max-width: 100%;
        height: 75px;
        align-self: flex-end;
    }
    .pokemon{
        max-width: 20rem;
    }
    .listPokemons{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (min-width: 1158px){
     .pokemon .detail img{
        max-width: 100%;
        height: 75px;
        align-self: flex-end;
    }
    .listPokemons{
        grid-template-columns: repeat(6, 1fr);
    }
} 

@media screen and (min-width: 768px) {

    .poke-img {
        width: 150px;  
    }
}

@media screen and (min-width: 997px) {
    .poke-img {
        width: 200px; 
    }
}

@media screen and (min-width: 399px){
    .Down-ul{
        justify-content: space-around;
        font-size: clamp(.9rem, 1vw, 1rem);
    }
}
 @media screen and (max-width: 496px) {
    .Down-ul {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Define 2 colunas de tamanho igual */
        gap: 10px; /* Espaçamento entre os itens */
        justify-content: center; /* Centraliza o grid */
        padding: 0;
        list-style: none;
        margin: 15px auto; /* Centraliza horizontalmente */
    }
    
    .Down-ul li {
        text-align: center; 
    }
    
    .Down-ul li a {
        font-size: 0.9rem; 
    }
}
    